name: Generate Test and Coverage Artifacts on GitHub-Hosted Runner
on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron:  '24 16 * * 2' # schedule a weekly build to keep caches warm
jobs:
  my-job:
    strategy: 
        matrix:
          os: [ubuntu-latest, windows-latest, macos-13, macos-14]
    name: Build Toolbox
    runs-on: ${{ matrix.os }}
    steps:
      - name: Support long paths
        if: ${{ matrix.os == 'windows-latest' }}
        run: git config --system core.longpaths true      
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          lfs: true
      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          cache: true
          release: R2025a
          products: |
            Deep_Learning_Toolbox
            Computer_Vision_Toolbox
            Signal_Processing_Toolbox
            Image_Processing_Toolbox
            Statistics_and_Machine_Learning_Toolbox
            MATLAB_Test
            Deep_Learning_Toolbox_Model_for_Xception_Network
            Deep_Learning_Toolbox_Model_for_ResNet-18_Network
            Deep_Learning_Toolbox_Model_for_Inception-ResNet-v2_Network
            Deep_Learning_Toolbox_Model_for_MobileNet-v2_Network
            Deep_Learning_Toolbox_Model_for_ResNet-50_Network
            Deep_Learning_Toolbox_Model_for_VGG-16_Network
            Deep_Learning_Toolbox_Model_for_VGG-19_Network
      - name: Run MATLAB build
        uses: matlab-actions/run-build@v2
      - name: Upload Test and Coverage Results
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }} Results
          path: test-results          
      - name: Upload Code Analysis Results
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: actions/upload-artifact@v4
        with:
          name: Results
          path: analysis-results          
      - name: Upload Toolbox (mltbx)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: actions/upload-artifact@v4
        with:
          name: Tool Validation Kit
          path: release/Tool Validation Kit App.mltbx
          